name: Publish to PyPI

on:
  workflow_dispatch:

jobs:
  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: "https://pypi.org/p/mcp-nvd"  
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uv python install 3.10  
      - run: uv build
      - uses: pypa/gh-action-pypi-publish@release/v1